<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jimmyhsu.ecnudaowei">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="41fd40c325c41f42ca9ef41f9d41ffd7"/>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondHandDetailActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".BigPhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".GeneralWebViewActivity" />
        <activity
            android:name=".PersonalInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ReleaseNewItemActivity"/>
        <activity android:name=".ReleaseDwActivity"/>
        <activity android:name=".DwDetailActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MeActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ChangeInfoActivity"/>
        <service android:name="com.amap.api.location.APSService"/>
        <provider
            android:authorities="com.jimmyhsu.ecnudaowei.provider.UserProvider"
            android:name=".Db.UserInfoProvider"/>
    </application>

</manifest>